<!doctype html>
<html lang="en">
 
<head>
   
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
 
   
 
</head>
 
<body>


    <div class="container">
        <div class="header">
           
            <h3 class="text-muted">hhh Clicnic</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Book ur appoitment</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="app" role="button">book now</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>about</h4>
                <p>ffffffffffffffffff.</p>
 
                <h4>specilization</h4>
                <p>fggggggggggggggggggggg.</p>
 
            </div>
 
            <div class="col-lg-6">
                <h4>doctor</h4>
                <p>sssssssssssssss.</p>
 
                <h4>location</h4>
                <p>Mddddddddddddd.</p>
 
               
            </div>
        </div>

    </div>
</body>
 
</html>